
// UI KIT OVERRIDE
//
// Typography
//
$global-font-family:            'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$global-emphasis-color:         $white;


//
// Colors
//

$global-color:                  $white;
$global-muted-color:            $white-dimmed;

$global-link-color:             $primary;
$global-link-hover-color:       lighten($primary, 10%);

$global-primary-background:     $primary;
$global-secondary-background:   $secondary;
$global-muted-background:       $foreground;

$button-primary-color:          $background;
$button-primary-hover-color:    $background;
$button-primary-active-color:   $background;

$button-secondary-color:        $background;
$button-secondary-hover-color:  $background;
$button-secondary-active-color: $background;

$button-danger-color:           $background;
$button-danger-hover-color:     $background;
$button-danger-active-color:    $background;

$button-secondary-color:        $background;
$button-secondary-hover-color:  $background;
$button-secondary-active-color: $background;

$form-danger-color:               $error;
$form-success-color:              $success;