$button-primary-color:          $background;
$button-primary-hover-color:    $background;
$button-primary-active-color:   $background;

$button-secondary-color:        $background;
$button-secondary-hover-color:  $background;
$button-secondary-active-color: $background;

$button-danger-color:           $background;
$button-danger-hover-color:     $background;
$button-danger-active-color:    $background;

$button-secondary-color:        $background;
$button-secondary-hover-color:  $background;
$button-secondary-active-color: $background;

@mixin hollow($color: $white) {
    border-color: $color;
    color: $color;

    &:hover {
        color: $background;
    }
}

.uk-button {
    border-radius: 20px;
    font-weight: bold !important;

    &.uk-button-hollow {
        background: transparent;

        @include hollow($white);

        &.uk-button-default {
            @include hollow($white);
        }

        &.uk-button-primary {
            @include hollow($primary);
        }

        &.uk-button-secondary {
            @include hollow($secondary);
        }

        &.uk-button-danger {
            @include hollow($error);
        }
    }
}