@mixin hollow($color: $white) {
    border-color: $color;
    color: $color;

    &:hover, &:focus {
        color: $background;
        background-color: darken($color, 5%);
    }

    &:active {
        color: $background;
        background-color: darken($color, 10%);
    }
}

.uk-button {
    border-radius: 20px;
    font-weight: bold !important;

    &.uk-button-hollow {
        background: transparent;

        @include hollow($white);

        &.uk-button-default {
            @include hollow($white);
        }

        &.uk-button-primary {
            @include hollow($primary);
        }

        &.uk-button-secondary {
            @include hollow($secondary);
        }

        &.uk-button-danger {
            @include hollow($error);
        }
    }
}