$local-border-radius:               15px;

.uk-card {
    color: $white;
    border: 1px solid $foreground;
    box-shadow: 0 0 5px transparentize($color: $white-dimmed, $amount: 0.55);
    border-radius: $local-border-radius;
    background-color: $background-alt;

    .uk-card-header {
        background-color: $background;
        border-radius: $local-border-radius $local-border-radius 0 0;
    }
}