@import "uikit/src/scss/components/variables.scss";
@import "../variables";

@mixin input($color: $secondary) {
    border-radius: 10px;

    background-color: $background;
    border: $foreground solid 2px;
    color: $white;

    &::placeholder {
        color: $white-dimmed;
    }
    
    &:focus, &:focus-within {
        background-color: $background;
        border-color: $color;
    }
}

form *.uk-input, .uk-input {
    @include input($secondary);
}