$primary: #C162D8;
$secondary: #00BFFF;
$accent: #FFCA52;

$white: #E6E6E6;
$white-dimmed: #A6A6A6;

$background: #070727;
$background-alt: #0D0F33;
$foreground: #181A4A;

$success: #43B581;
$error: #D85149;
$warning: #EAAD22;