$primary: #CC7CDE;
$secondary: #00BFFF;
$accent: #FFCA52;

$white: #F0F0F0;
$white-dimmed: #ABABAB;

$background: #070727;
$background-alt: #0D0F33;
$foreground: #181A4A;

$success: #43B581;
$error: #D85149;
$warning: #EAAD22;