$local-layout-duration:   500ms;
$local-page-duration:     200ms;

.layout-enter-active, .layout-leave-active {
  transition:
    opacity $local-layout-duration ease-in-out;
}

.layout-enter, .layout-leave-active {
  opacity: 0;
}

.page-enter-active, .page-leave-active {
  transition:
    opacity $local-page-duration ease-in,
    transform $local-page-duration cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.page-enter, .page-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}